# Dossiers de releases et builds temporaires de Spec-Kit
.genreleases/
*.zip
sdd-*/
docs/dev

# Système d'extensions et caches de Spec-Kit
.specify/extensions/.cache/
.specify/extensions/.backup/
.specify/extensions/*/local-config.yml

# Fichiers de configuration locale ou secrets (si applicables)
.env
.env.local

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
